.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10hv;
  background: rgba(0,0,0,0.4);
  color:white
}
.nav-links{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: brown;

}

nav-links:hover {
  color:green ;
}