.App {
  color: red;
  font-family: cursive;
  text-align: center;
}
h1 {
  color: purple;
  text-align: center;
}
p {
  text-align:left;
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.user-profile {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 20%;
  border-color: greenyellow;
  border-top-left-radius: 0ch;
}
.card{
  border-color: brown;
}